@import url('https://fonts.googleapis.com/css?family=Titan+One');

* {
    font-family:'Titan One',cursive;
    box-sizing: border-box;
}
@keyframes animate {
    0%{
        background-image: url(/images/karigurashi01.jpg);  
    }25%{
        background-image: url(/images/karigurashi02.jpg);  
    }50%{
        background-image: url(/images/totoro02.jpg);  
    }75%{
        background-image: url(/images/totoro03.jpg);
    }100%{
        background-image: url(/images/howl.jpg);  
    }
}

body {
    /* background */
    /* background-image: linear-gradient(rgba(234, 233, 233, 0.17), rgba(168, 165, 165, 0.11)),url("images/chihiro02.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 20s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 100s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    width: auto;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    padding-top: 115px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* form */
.search-bar {
    width: 100%;
    height: 58px;
    max-width: 600px;
    padding: 7px 13px;
    padding-left: 25px;

    background-color: rgba(255, 255, 255, 0.73);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(4px) saturate(180%);
   
    display: flex;
    justify-content: center;
}

/* search input */
.search-bar input {
    background: transparent;
    border-radius: 25px;
    border: 0;
    outline: none;
    padding-bottom: 6px;
    font-size: 20px;
    flex: 1;
    color: rgb(78, 77, 77);
}

::placeholder {
    color: rgb(78, 77, 77, 0.7);
    font-size: 15px;
    font-weight: lighter;
}

/* search button */
.search-bar button {
    background-color: #a97ee6;
    border: 0;
    border-radius: 70%;
    width: 44px;
    height: 42px;

    cursor: pointer;
}

/* when mouse hover on search button the opacity will appear */
.search-bar button:hover {
    background-color: #b998e8;
    border: 0;
}

/* when user click on search button pattern will change in to grey color */
.search-bar button:active {
    background-color: rgb(74, 176, 227);
    opacity: 0.9;
    border: 0;
}

/* header text Movie Search */
h1 {
    font-family:'Titan One',cursive;
    text-align: center;

    /* Option 1 */
    
    background-color: rgb(255, 255, 255);

    /* Option 2 */
    /* padding: 40px 0px 17px 0px;
    background: -webkit-linear-gradient(60deg,#ff6161,#7a82da,#fd6a6a );  */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 8px 10px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #808080;
    opacity: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}




